# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\STM32Env\ClionSTM32Proj\ANME_STM32CubeMX_Library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
